
* {
  box-sizing: border-box;
}

/* rename maybe to .searchableUL and .searchableULInput */
.fileSearch {
  /*background-image: url('/static/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;*/
  width: 100%;
  /* font-size: 16px; */
  padding: 4px 20px 4px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.queue-list{
  list-style-type: none;
  padding: 0;
  margin: 0;  
}

.queue-list li{
  cursor: pointer;
}

.queue-list li:hover{
  background: #eee;
}

.fileUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.fileUL li  {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  padding: 4px inherit 4px inherit;
  display: block
}

.fileUL li .control {
  padding: 4px;
  color: black;
  cursor: pointer;
}
.fileUL li:hover:not(.header) {
  background-color: #eee;
}